@import url('./styles/card.css');
@import url('./styles/postRows.css');
@import url('./styles/sidebar.css');

body {
    background-color: white;
    color: darkslategrey;
}
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 70px;

    grid-template-areas:
    "hd"
    "bp"
    "ft";
}
/* .box {
    border: 2px solid grey;
} */
.header {
    grid-area: hd;
    text-align: center;
    box-shadow: 1px 10px 15px gray;
}
.blogPost {
    grid-area: bp;
}
.authorDetails {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.avatar{
    width:100px;
    background-image:url('./images/coffee.jpeg');
    border-radius:50%;
}
.breadCrumb{
    text-align: center;
    margin-top: 20px;
}
.breadCrumb img{
    max-width: 100%;
    max-height: 300px;
}
.blogContent{
    padding: 0px 70px;
}
.blogContent h1{
    text-align: center;
}
.blogContent h2, h3{
    text-align: center;
    background-color: whitesmoke;
}

.footer {
    background-color: black;
    color: white;
    grid-area: ft;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: red;
    text-align: center;
}

/* @media(min-width:641px) and (max-width:1007px){
    .container {
        display: grid;
        grid-template-columns: 50px repeat(5, 1fr);
        grid-template-rows: 100px auto 70px;
    
        grid-template-areas:
        "hd hd hd hd hd hd"
        "bp bp bp bp bp bp"
        "ft ft ft ft ft ft";
    }
}
@media(min-width:1008px){
    .container {
        display: grid;
        grid-template-columns: 50px repeat(5, 1fr);
        grid-template-rows: 100px auto 70px;
    
        grid-template-areas:
        "hd hd hd hd hd hd"
        "bp bp bp bp bp bp"
        "ft ft ft ft ft ft";
    }
} */