.card{
    max-width:400px;
    height: auto;
    text-align: center;
    border:1px solid gray;
    padding-bottom: 10px;
}
.card:hover {
    box-shadow: 1px 5px gray;
}
.card img{
    width:100%;
    height: auto;
}
.card button{
    width:150px;
    background-color: rgba(204, 16, 16, 0.986);
    border: 0px;
    border-radius: 10px;
    color: #ffffff;
    
}
@media(max-width:641px) {
    .card{
        margin: 10px 0px;
    }
}