.sideContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sideContent a{
    text-decoration: none;
    color:red;
}
.sideContent h2{
    text-decoration: underline;
    color:gray;
}
@media(min-width:641px) and (max-width:1007px){
    .sideContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(min-width:1008px){
    .sideContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}